body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
#login-page{
    background-color: #ececec;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}