.login-page__form{
    display: flex;
    flex-direction: column;
    padding: 45px;
    border: 1px solid #007bff;
    border-radius: 20px;
    width: 420px;
    background-color: #007bff;
    box-sizing: border-box;
}
.login-page__form-input{
    margin-top: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: #f7f9fa;
}
.login-page__form-label{
    margin-top: 30px;
    color: white;
}
.login-page__form-label:first-child{
    margin-top: 0;
}
.login-page__error-message{
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
.login-page__form-button{
    background-color: white;
    border-radius: 20px;
    color: #007bff;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 45px;
    transition: opacity 1s;
}
.login-page__form-button:hover{
    opacity: 0.7;
}